<h1>
  Edit med type #<%= @med_type.id %>
</h1>

<hr>

<form action="/update_med_type/<%= @med_type.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @med_type.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update med type
  </button>
</form>

<hr>

<a href="/med_types">
  Go back
</a>
