<% if @medication.present? %>
  <% if @medication.errors.any? %>
    <% @medication.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new medication
</h1>


<hr>

<form action="/create_medication" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @medication.name %>">
  </div>

  <div class="form-group">
    <label for="med_type_id">
      Med type
    </label>

    <%= select_tag(:med_type_id, options_from_collection_for_select(MedType.all, :id, :name, @medication.med_type_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create medication
  </button>
</form>

<hr>

<a href="/medications">
  Go back
</a>
