<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Areas to update
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/locations">
            View and update locations
        </a> 
    </li>
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/credentials">
            View and update credentials
        </a>
    </li>    
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/med_types">
            View and update types of medications
        </a>
    </li> 
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/sexes">
            View and update sexes
        </a>
    </li> 
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/provider_credentials">
          View update list of provider credentials
        </a>
    </li> 
  </ul>
</div>