<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Areas to update
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/locations">
            View and update locations
        </a> 
    </li>
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/credentials">
            View and update credentials
        </a>
    </li>    
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/med_types">
            View and update types of medications
        </a>
    </li> 
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/sexes">
            View and update sexes
        </a>
    </li> 
    <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/provider_credentials">
          View update list of provider credentials
        </a>
    </li> 
  </ul>
</div>

<% pie_chart Sex.group(:name).count %>

<% pie_chart Prescription.group(:medication_id).count, donut: true%>
<% bar_chart Prescription.group(:medication_id).count%>



<% pie_chart Patient.group(:firstname).count %>
<% pie_chart Patient.group(:firstname).count, download: true %>
<% bar_chart Patient.group(:sex_id).count(:sex_id) %>
<% bar_chart Prescription.group(:medication_id).count(:medication_id) %>