<!-- Form prescription start -->
<form action="/create_prescription_from_encounter" method="post">
<!-- Form prescription end -->

  <!-- Label and input for patient_id start -->
  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <!-- Input for patient_id start -->
    <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :firstname, @prescription.patient_id), :class => "form-control") %>
    <!-- Input for patient_id end -->
  </div>
  <!-- Label and input for patient_id end -->

  <!-- Label and input for provider_id start -->
  <div class="form-group">
    <label for="provider_id">
      Provider
    </label>

    <!-- Input for provider_id start -->
    <%= select_tag(:provider_id, options_from_collection_for_select(Provider.all, :id, :created_at, @prescription.provider_id), :class => "form-control") %>
    <!-- Input for provider_id end -->
  </div>
  <!-- Label and input for provider_id end -->

  <!-- Label and input for encounter_id start -->
  <!-- Input for encounter_id start -->
  <input type="hidden" name="encounter_id" value="<%= @encounter.id %>">
  <!-- Input for encounter_id end -->

  <!-- Label and input for medication_id start -->
  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <!-- Input for medication_id start -->
    <input type="text" id="medication_id" name="medication_id" class="form-control" value="<%= @prescription.medication_id %>">
    <!-- Input for medication_id end -->
  </div>
  <!-- Label and input for medication_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create prescription
  </button>
</form>
