<form action="/create_prescription_from_encounter" method="post">

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :firstname, @prescription.patient_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="provider_id" value="<%= current_provider.id %>">

  <input type="hidden" name="encounter_id" value="<%= @encounter.id %>">

  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <%= select_tag(:medication_id, options_from_collection_for_select(Medication.all, :id, :name, @prescription.medication_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create prescription
  </button>
</form>
