<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Prescriptions

    <a data-toggle="collapse" href="#patient_prescriptions_new_form">
      Add prescription
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @patient.prescriptions.each do |prescription| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/prescriptions/<%= prescription.id %>">
          <%= prescription.patient_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_prescription_from_patient/<%= prescription.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="patient_prescriptions_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "patient_templates/patient_prescriptions_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
