<!--<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="/">-->
<!--      <img height="auto" width="30%" src="/community-empowerment-logo.png"> -->
      <!--Community Empowerment-->
<!--    </a>-->

<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="collapsible-nav-links">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Resources-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a href="/batch_action_admin_patients" class="dropdown-item">-->
            <!--  Batch Action Admin Patients-->
            <!--</a>-->
            <!--<a href="/admin_patients" class="dropdown-item">-->
            <!--  Admin Patients-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_encounters" class="dropdown-item">-->
            <!--  Batch Action Admin Encounters-->
            <!--</a>-->
            <!--<a href="/admin_encounters" class="dropdown-item">-->
            <!--  Admin Encounters-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_medications" class="dropdown-item">-->
            <!--  Batch Action Admin Medications-->
            <!--</a>-->
            <!--<a href="/admin_medications" class="dropdown-item">-->
            <!--  Admin Medications-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_prescriptions" class="dropdown-item">-->
            <!--  Batch Action Admin Prescriptions-->
            <!--</a>-->
            <!--<a href="/admin_prescriptions" class="dropdown-item">-->
            <!--  Admin Prescriptions-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_med_types" class="dropdown-item">-->
            <!--  Batch Action Admin Med Types-->
            <!--</a>-->
            <!--<a href="/admin_med_types" class="dropdown-item">-->
            <!--  Admin Med Types-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_provider_credentials" class="dropdown-item">-->
            <!--  Batch Action Admin Provider Credentials-->
            <!--</a>-->
            <!--<a href="/admin_provider_credentials" class="dropdown-item">-->
            <!--  Admin Provider Credentials-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_providers" class="dropdown-item">-->
            <!--  Batch Action Admin Providers-->
            <!--</a>-->
            <!--<a href="/admin_providers" class="dropdown-item">-->
            <!--  Admin Providers-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_admin_users" class="dropdown-item">-->
            <!--  Batch Action Admin Admin Users-->
            <!--</a>-->
            <!--<a href="/admin_admin_users" class="dropdown-item">-->
            <!--  Admin Admin Users-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_sexes" class="dropdown-item">-->
            <!--  Batch Action Admin Sexes-->
            <!--</a>-->
            <!--<a href="/admin_sexes" class="dropdown-item">-->
            <!--  Admin Sexes-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_locations" class="dropdown-item">-->
            <!--  Batch Action Admin Locations-->
            <!--</a>-->
            <!--<a href="/admin_locations" class="dropdown-item">-->
            <!--  Admin Locations-->
            <!--</a>-->
            <!--<a href="/batch_action_admin_credentials" class="dropdown-item">-->
            <!--  Batch Action Admin Credentials-->
            <!--</a>-->
            <!--<a href="/admin_credentials" class="dropdown-item">-->
            <!--  Admin Credentials-->
            <!--</a>-->
            <!--<a href="/admin_admin_comments" class="dropdown-item">-->
            <!--  Admin Admin Comments-->
            <!--</a>-->
            <!--<a href="/sexes" class="dropdown-item">-->
            <!--  Sexes-->
            <!--</a>-->
<!--            <a href="/patients" class="dropdown-item">-->
<!--              Patients-->
<!--            </a>            -->
<!--            <a href="/encounters" class="dropdown-item">-->
<!--              Encounters-->
<!--            </a>-->
<!--            <a href="/prescriptions" class="dropdown-item">-->
<!--              Prescriptions-->
<!--            </a>-->
<!--            <a href="/providers" class="dropdown-item">-->
<!--              Providers-->
<!--            </a>            -->
            <!--<a href="/med_types" class="dropdown-item">-->
            <!--  Med Types-->
            <!--</a>-->
<!--            <a href="/medications" class="dropdown-item">-->
<!--              Medication Formulary-->
<!--            </a>-->
            <!--<a href="/locations" class="dropdown-item">-->
            <!--  Locations-->
            <!--</a>-->

            <!--<a href="/provider_credentials" class="dropdown-item">-->
            <!--  Provider Credentials-->
            <!--</a>-->
            <!--<a href="/credentials" class="dropdown-item">-->
            <!--  Credentials-->
            <!--</a>-->

<!--            <a href="/adminpanel" class="dropdown-item">-->
<!--              Admin panel-->
<!--            </a>-->

<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="navbar-nav">-->
<!--        <% if current_provider.blank? %>-->
<!--          <li class="nav-item">-->
<!--            <a href="/providers/sign_in" class="nav-link">-->
<!--              Sign in-->
<!--            </a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--            <a href="/providers/sign_up" class="nav-link">-->
<!--              Sign up-->
<!--            </a>-->
<!--          </li>-->
<!--        <% else %>-->
<!--          <li class="nav-item">-->
<!--            <a href="/providers/edit" class="nav-link">-->
<!--              <i class="fas fa-edit"></i>-->
<!--              Edit profile-->
<!--            </a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--            <a href="/providers/sign_out" data-method="delete" class="nav-link">-->
<!--              Sign out-->
<!--            </a>-->
<!--          </li>-->
<!--        <% end %>-->
<!--      </ul>-->
<!--    </div> <!-- .navbar-collapse -->
<!--  </div> <!-- .container -->
<!--</nav>-->








 <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img height="auto" width="50%" src="/community-empowerment-logo.png"> 
      <!--Community Empowerment-->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/patients">
            <i class="fas fa-users"></i>
             <span class="hidden-sm">Patients</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/encounters">
            <i class="fas fa-medkit"></i>
          <span class="hidden-sm">Encounters</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prescriptions">
            <i class="fas fa-list"></i>
          <span class="hidden-sm">Prescriptions</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/providers/">
            <i class="fas fa-user-md"></i>
          <span class="hidden-sm">Providers</span></a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/medications/">
            <i class="fas fa-pills"></i>
          <span class="hidden-sm">Medication Formulary</span></a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/adminpanel/">
            <i class="fas fa-cogs"></i>
          <span class="hidden-sm">Admin Panel</span></a>
        </li>        
      </ul>
      
      <ul class="navbar-nav">
        <% if current_provider.blank? %>
          <li class="nav-item">
            <a href="/providers/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/providers/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/providers/edit" class="nav-link">
              <i class="fas fa-edit"></i>
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/providers/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>

    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
