<form action="/create_provider_credential_from_credential" method="post">

  <input type="hidden" name="provider_id" value="<%= current_provider.id %>">

  <input type="hidden" name="credential_id" value="<%= @credential.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create provider credential
  </button>
</form>
