<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    All providers with this credential (<%=@credential.providers.count%> total)
  </div>

  <ul class="list-group list-group-flush">
    <% @credential.providers.each do |provider| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/providers/<%= provider.id %>">
          <%= provider.fullname %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
