<!-- Form provider_credential start -->
<form action="/create_provider_credential_from_credential" method="post">
<!-- Form provider_credential end -->

  <!-- Label and input for provider_id start -->
  <div class="form-group">
    <label for="provider_id">
      Provider
    </label>

    <!-- Input for provider_id start -->
    <input type="text" id="provider_id" name="provider_id" class="form-control" value="<%= @provider_credential.provider_id %>">
    <!-- Input for provider_id end -->
  </div>
  <!-- Label and input for provider_id end -->

  <!-- Label and input for credential_id start -->
  <!-- Input for credential_id start -->
  <input type="hidden" name="credential_id" value="<%= @credential.id %>">
  <!-- Input for credential_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create provider credential
  </button>
</form>
