<!-- Validation failure messages -->
<% if @credential.present? %>
  <% if @credential.errors.any? %>
    <% @credential.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new credential
</h1>


<hr>

<!-- Form credential start -->
<form action="/create_credential" method="post">
<!-- Form credential end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @credential.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create credential
  </button>
</form>

<hr>

<a href="/credentials">
  Go back
</a>
