<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      More about the <b><%= @credential.name %> </b> credential
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/credentials" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/credentials/<%= @credential.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit credential
        </a>
      </div>

      <div class="col">
        <a href="/delete_credential/<%= @credential.id %>" class="btn btn-block btn-outline-secondary">
          Delete credential
        </a>
      </div>
    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "credential_templates/credential_providers" %>
  </div>
</div>
