<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Encounters

    <a data-toggle="collapse" href="#location_encounters_new_form">
      Add encounter
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.encounters.each do |encounter| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/encounters/<%= encounter.id %>">
          <%= encounter.provider_id %>
        </a>

        <a href="/delete_encounter_from_location/<%= encounter.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_encounters_new_form">
        <%= render partial: "location_templates/location_encounters_new_form" %>
      </div>
    </div>

  </ul>
</div>
