<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Details for <%= @location.name %>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/locations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/locations/<%= @location.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit location
        </a>
      </div>

      <div class="col">
        <a href="/delete_location/<%= @location.id %>" class="btn btn-block btn-outline-secondary">
          Delete location
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "location_templates/location_encounters" %>
  </div>
</div>
