<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Prescriptions (<%=@provider.prescriptions.count%> total)

  </div>

  <ul class="list-group list-group-flush">
    <% @provider.prescriptions.each do |prescription| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/prescriptions/<%= prescription.id %>">
          <%= prescription.medication.name_with_dosage %> for <%= prescription.patient.fullname %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
