<form action="/create_provider_credential" method="post">

  <input type="hidden" name="provider_id" value="<%= @provider.id %>">

  <div class="form-group">
    <label for="credential_id">
      Credential
    </label>

    <%= select_tag(:credential_id, options_from_collection_for_select(Credential.all, :id, :name), :include_blank => 'Select a credential', :class => "form-control") %>
  </div>
  
  <button class="btn btn-block btn-outline-secondary">
    Add credential
  </button> 
</form>