<form action="/create_prescription_from_prescription" method="post">
  
  <input type="hidden" name="patient_id" value="<%= @prescription.patient_id %>">
  
  <input type="hidden" name="provider_id" value="<%= current_provider.id %>">

  <input type="hidden" name="encounter_id" value="<%= @prescription.encounter_id %>">

  <b>Add a new prescription for this patient</b>
  
  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <%= select_tag(:medication_id, options_from_collection_for_select(Medication.all, :id, :name_with_dosage), :include_blank => 'Select a medication', :class => "form-control") %>
  </div>
  
  <div class="form-group">
    <label for="instructions">
      Instructions
    </label>

    <input type="text" id="instructions" name="instructions" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create prescription
  </button>
</form>
