<h1>
  Add a new prescription
</h1>


<hr>

<form action="/create_prescription" method="post">

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :fullname, @prescription.patient_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="provider_id" value="<%= current_provider.id %>">

  <div class="form-group">
    <label for="encounter_id">
      Encounter
    </label>

    <%= select_tag(:encounter_id, options_from_collection_for_select(Encounter.all, :id, :name, @prescription.encounter_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <%= select_tag(:medication_id, options_from_collection_for_select(Medication.all, :id, :name_with_dosage, @prescription.medication_id), :class => "form-control") %>
  </div>
  
  <div class="form-group">
    <label for="instructions">
      Instructions
    </label>

    <textarea class="form-control" id="instructions" name="instructions" rows="4"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create prescription
  </button>
</form>

<hr>

<a href="/prescriptions">
  Go back
</a>
