<!-- Validation failure messages -->
<% if @provider_credential.errors.any? %>
  <% @provider_credential.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit provider credential #<%= @provider_credential.id %>
</h1>

<hr>

<!-- Form provider_credential start -->
<form action="/update_provider_credential/<%= @provider_credential.id %>" method="post">
<!-- Form provider_credential end -->

  <!-- Label and input for provider_id start -->
  <!-- Label and input for provider_id end -->

  <!-- Label and input for credential_id start -->
  <div class="form-group">
    <label for="credential_id">
      Credential
    </label>

    <!-- Input for credential_id start -->
    <%= select_tag(:credential_id, options_from_collection_for_select(Credential.all, :id, :name, @provider_credential.credential_id), :class => "form-control") %>
    <!-- Input for credential_id end -->
  </div>
  <!-- Label and input for credential_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update provider credential
  </button>
</form>

<hr>

<a href="/provider_credentials">
  Go back
</a>
