<h1>
  Edit provider credential #<%= @provider_credential.id %>
</h1>

<hr>

<form action="/update_provider_credential/<%= @provider_credential.id %>" method="post">


  <div class="form-group">
    <label for="credential_id">
      Credential
    </label>

    <%= select_tag(:credential_id, options_from_collection_for_select(Credential.all, :id, :name, @provider_credential.credential_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update provider credential
  </button>
</form>

<hr>

<a href="/provider_credentials">
  Go back
</a>
