<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Patients

    <a data-toggle="collapse" href="#sex_patients_new_form">
      Add patient
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @sex.patients.each do |patient| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/patients/<%= patient.id %>">
          <%= patient.firstname %>
        </a>

        <a href="/delete_patient_from_sex/<%= patient.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="sex_patients_new_form">
        <%= render partial: "sex_templates/sex_patients_new_form" %>
      </div>
    </div>

  </ul>
</div>
