<% if @sex.errors.any? %>
  <% @sex.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit sex #<%= @sex.id %>
</h1>

<hr>

<form action="/update_sex/<%= @sex.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @sex.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update sex
  </button>
</form>

<hr>

<a href="/sexes">
  Go back
</a>
