<!-- Validation failure messages -->
<% if @sex.present? %>
  <% if @sex.errors.any? %>
    <% @sex.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new sex
</h1>


<hr>

<!-- Form sex start -->
<form action="/create_sex" method="post">
<!-- Form sex end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @sex.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create sex
  </button>
</form>

<hr>

<a href="/sexes">
  Go back
</a>
