<h1>
  Add a new sex
</h1>


<hr>

<!-- Form sex start -->
<form action="/create_sex" method="post">
<!-- Form sex end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create sex
  </button>
</form>

<hr>

<a href="/sexes">
  Go back
</a>
